@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100%;
    max-height: 110vh;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}


.color-2{
    position: absolute;
    height: 110vh;
    width: 40vw;
    background-color: #d1d1d1;
    z-index: -1;
}

/* !NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li{
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    display: block;
    margin: auto;
    transition: all 0.3s ease;
}

nav ul li:hover::after{
    width: 100%;
}

nav i{
    display: none;
    cursor: pointer;
}


/* &NAVBAR RESPONSIVE */
@media screen and (max-width: 768px) {
    nav ul{
        position: absolute;
        top: 0;
        right: 0;
        width: 40vw;
        height: 100vh;
        background-color: #f5f5f5;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        transform: translateX(100%);
        transition: all 0.3s ease;
        z-index: 3;
        
    }
    nav i{
        display: block;
        font-size: 40px;
        z-index: 200;
    }

    nav ul.active{
        transform: translateX(0);
        transition: all 0.3s ease;
    }

}

/* !NAVBAR */


/* !MAIN */
.container{
    display: flex;
}

.container .box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.container .box-1 .colors{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    gap: 20px;
    z-index: 2;
    width: 80px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 2%;
}

.color{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.color.active{
    border: 2px solid #f5f5f5;
    box-shadow: 0 0 5px #f5f5f5;

}

.color-red{
    background-color: red;
}

.color-green{
    background-color: green;
}

.color-yellow{
    background-color: yellow;
}

.color-blue{
    background-color: blue;
}

.color:hover{
    border: 0.5 px solid #f5f5f5;
    box-shadow: 0 0 20px #ffffff;
    transform: scale(0.9);
}

.color:active{
    border: 0.5 px solid #f5f5f5;
    box-shadow: 0 0 20px #ffffff;
    transform: scale(1);
}

.container .box-1 .bikes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.container .box-1 .bikes img{
    opacity: 0;
    position: absolute; 
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 0;
    width: 55%;
    left: 5%;
}



@keyframes nextbike{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

.container .box-1 .bikes img.active{
    opacity: 1;
    z-index: 1;
    animation: nextbike 0.5s linear;
}


.container .box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-height: 80vh;
    z-index: 1;
}

.container .box-2 .shop .costumers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 20px;
    position: relative;
    top: 10%;

}


.container .box-2 .shop .costumers .colors-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    height: 50px;
}

.container .box-2 .shop i{
    color: yellow;
}

.container .box-2 .shop .costumers .colors-2 .color{
    border-radius: 15%;
}

.container .box-2 .shop .costumers .colors-2 .color.active{
    border: 2px solid #181818;
    box-shadow: 0 0 5px #202020;
}

.container .box-2 .shop .costumers .price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
}

.container .box-2 .shop .costumers .price p{
    font-size: 30px;
    font-weight: bold;
    color: #181818;

}



.container .box-2 .shop button{
    position: relative;
    top: 20%;
    width: 100%;
    background-color: #181818;
    color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 60px;
    cursor: pointer;
}

/* !MAIN */

/* &MAIN RESPONSIVE */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 0;
    }

    .container .box-1 {
        width: 100%;
        height: auto;
    }

    .container .box-1 .colors {
        flex-direction: row;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        position: absolute;
        display: none;
    }

    .container .box-1 .colors .color {
        width: 50px;
        height: 50px;
    }

    .container .box-1 .bikes img {
        width: 90%;
        left: auto;
        position: absolute;
        top: 10%;
        z-index: 0;
    }

    .container .box-2 {
        width: 80%;
        max-height: auto;
        position: absolute;
        top: 50%;
        margin: 20px;
    }

    .container .box-2 .shop button{
        margin-top: 20px;
    }
}

.right{
    animation: right 1s both;
}

.top{ 
    animation: top 1s both;
}

@keyframes top{
    0%{
        opacity: 0;
        transform: translateY(-100%);
        
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes right{
    0%{
        opacity: 0;
        transform: translateX(100%);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}